.PopUpWindow-wrapper {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(94, 115, 113, 0.532);
    z-index: 240;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.PopUpWindow {
    overflow: auto;
    width: 80vw;
    height: 80vh;
    padding: 20px 40px;
    border-radius: 35px;
    background-color: #fff;
    box-shadow: 0 25px 35px #0000002e;
    overflow: hidden; /*                  NEED TO CHANGE              */
}
.PopUpWindow-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.PopUpWindow-header-title {
    font-size: larger;
}
.PopUpWindow-tab-selectors {
    display: flex;
    justify-content: center;
}
.PopUpWindow-tab {
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 35px;
    border: 1px solid #ffb886;
}
.PopUpWindow-tab:hover {
    background-color: #ffb886;
}
.PopUpWindow-tab.selected {
    background-color: #ffb886;
    background-image: linear-gradient(90deg, #ff920b 0, #f35c17 90%);
    color: #fff;
}
.PopUpWindow-close:hover {
    transform: scale(1.1);
    transition-duration: 100ms;
}
.PopUpWindow-body {
    /* padding-top: 30px; */
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: safe;
    overflow: hidden; /*                  NEED TO CHANGE              */
}
.PopUpWindow-info-tab {
    flex-wrap: wrap;
    display: flex;
    align-items: last baseline;
}
.PopUpWindow-info-tab-inputs {
    flex-wrap: wrap;
    display: flex;
    align-items: baseline;
}
.PopUpWindow-info-tab div {
    margin: 5px;
}
.PopUpWindow-info-tab-buttons {
    display: flex;
}
.PopUpWindow-info-tab-button {
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 35px;
    border: 1px solid #ffb886;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
}
.PopUpWindow-info-tab-button:hover {
    background-color: #ffb886;
}
.PopUpWindow-transaction-container {
    display: flex;
    height: 100%;
}
.PopUpWindow-transaction-options {
    height: 70vh;
    width: 20vw;
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
    background-color: #fff;
    box-shadow: 0 25px 35px #0000002e;
    display: flex;
    flex-direction: column;
    z-index: 100;
    margin-left: 20px;
}
.PopUpWindow-transaction-option:first-child {
    margin-top: 3vh;
}
.PopUpWindow-transaction-option {
    /* height: 300px;
    width: 200px; */
    margin-left: 10px;
    padding: 8px 14px 8px 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.PopUpWindow-transaction-option:last-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight: bold;
    color: #fff;
    background-color: #ff7b1d;
    background-image: linear-gradient(90deg, #ff920b 0, #f35c17 90%);
}
