.SavePopUp-wrapper {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 99vh;
    width: 99vw;
    background-color: rgba(94, 115, 113, 0.262);
    z-index: 250;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.SavePopUp {
    overflow: auto;
    width: 40vw;
    height: 40vh;
    padding: 20px 40px;
    border-radius: 35px;
    background-color: #fff;
    box-shadow: 0 25px 35px #0000002e;
    overflow: hidden; /*                  NEED TO CHANGE              */
}
.SavePopUp-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.SavePopUp-header-title {
    font-size: larger;
}
.SavePopUp-close:hover {
    transform: scale(1.1);
    transition-duration: 100ms;
}
.SavePopUp-body {
    /* padding-top: 30px; */
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: center; */
    align-items: safe;
    overflow: hidden; /*                  NEED TO CHANGE              */
}

.SavePopUp-body div {
    padding: 0 10px;
}

.SavePopUp .button {
    width: 80px;
}
