.PopUpWindow-wrapper {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(94, 115, 113, 0.532);
    z-index: 240;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.PopUpWindow {
    width: 80vw;
    height: 80vh;
    padding: 4vh 40px;
    border-radius: 35px;
    background-color: #fff;
    overflow: hidden;
}
.PopUpWindow-header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding-bottom: 6vh;
}
.PopUpWindow-header-title {
    font-size: larger;
}
.PopUpWindow-tab-selectors {
    display: flex;
    justify-content: center;
}
.PopUpWindow-tab {
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 35px;
    border: 1px solid var(--secondary-color);
}
.PopUpWindow-tab:hover {
    background-color: var(--secondary-color);
}
.PopUpWindow-tab.selected {
    background-color: var(--main-color);
    color: #fff;
}
.PopUpWindow-close:hover {
    transform: scale(1.1);
    transition-duration: 100ms;
}
.PopUpWindow-body {
    /* padding-top: 30px; */
    height: 62vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
