.Login {
    height: 100vh;
    width: 100vw;
    background-image: url(../../Icons/login_background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Login form {
    padding: 50px;
    height: 50vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 35px;
}

.Login .form-title {
    font-size: 22px;
}

.Login .input-label {
    display: flex;
    align-items: center;
    width: 90%;
}

.Login input {
    background: rgba(255, 255, 255, 0.1);
}

.Login input:focus {
    background: rgba(255, 255, 255, 0.1);
}

.Login .password-input-box {
    display: flex;
    align-items: center;
    margin-right: -10px;
}

.Login .eye-icon {
    padding-top: 5px;
    margin-right: -30px;
    cursor: pointer;
}

.Login .button {
    width: 100px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}

.Login .button:hover {
    background-image: var(--main-background);
    transform: scale(1.1);
}

.Login .response-message {
    color: rgb(187, 91, 91);
    font-size: medium;
}

.Login .my-login-box {
    position: relative;
}

.Login .my-login-box .square {
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    animation: animate 13s linear infinite;
    animation-delay: calc(-1s * var(--i));
}
@keyframes animate {
    0%,
    100% {
        transform: translateY(-40px);
    }
    50% {
        transform: translateY(40px);
    }
}
.Login .my-login-box .square:nth-child(1) {
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
}
.Login .my-login-box .square:nth-child(2) {
    top: 150px;
    left: -100px;
    width: 120px;
    height: 120px;
    z-index: 2;
}
.Login .my-login-box .square:nth-child(3) {
    bottom: 50px;
    right: -60px;
    width: 80px;
    height: 80px;
    z-index: 2;
}
.Login .my-login-box .square:nth-child(4) {
    bottom: -80px;
    left: 100px;
    width: 50px;
    height: 50px;
}
