.Header {
    position: fixed;
    top: 0;
    height: 13vh;
    width: 100vw;
    color: #fff;
    background-image: var(--main-background);
    z-index: 99;
}
.Header .top-header-bar {
    padding: 20px;
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Header .top-header-bar-username {
    text-align: center;
    width: 35%;
}
.Header .top-header-bar-title {
    text-align: end;
    width: 55%;
    padding-left: 2%;
}
.Header .top-header-bar-logout {
    width: 10%;
    right: 0;
    /* margin: 20px; */
}
.Header .top-body-bar {
    padding-right: calc(var(--sidebar-width) + 10px);
    color: black;
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
