.Dashboard {
    width: 100%;
    border-radius: 35px;
    /* padding: 20px; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    --dashboard-width: 95%;
}
.Dashboard .tile {
    padding: 20px;
    width: calc((var(--dashboard-width) / 3) - 1vw);
    background-color: white;
}
.Dashboard-inner-nav {
    width: var(--dashboard-width);
    padding: 20px;
    margin: 10px 0px 5px 0px;
    border-radius: 15px;
    background-color: white;
}
.Dashboard-statistics {
    width: var(--dashboard-width);
    border-radius: 15px;
    padding: 5px 0px;
    margin: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Dashboard-statistic.tile {
    border-radius: 15px;
    text-align: center;
}
.Dashboard-charts {
    width: var(--dashboard-width);
    padding: 5px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.Dashboard-chart.tile {
    border-radius: 35px;
    margin: 5px 0px;
    height: 60vh;
}
.Dashboard-tile-title {
    width: 100%;
    font-size: large;
    text-align: center;
}
.Dashboard-tile-body {
    width: 100%;
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Dashboard-line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 7px 15px;
    margin: 3px 0px;
    background-color: #f2eaeae4;
    border-radius: 20px;
    animation: drop-in ease-in 1s;
}
@keyframes drop-in {
    0% {
        top: -100;
    }
    100% {
        top: 0;
    }
}
.Dashboard-line:hover {
    background-color: #d1cacae4;
}
.Dashboard-no-results {
    text-align: center;
}
