.PieChart {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.PieChart .pieID {
    display: inline-block;
    vertical-align: top;
}
.PieChart .pie {
    height: 200px;
    width: 200px;
    position: relative;
}
.PieChart .pie::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
    top: 50px;
    left: 50px;
}
.pie-shadow {
    width: 120px;
    height: 2px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.1);
}
.PieChart .slice {
    position: absolute;
    width: 200px;
    height: 200px;
    clip: rect(0px, 200px, 200px, 100px);
    animation: bake-pie 1s;
}
@keyframes bake-pie {
    from {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}
.PieChart .slice span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    clip: rect(0px, 200px, 200px, 100px);
}
.PieChart .legend {
    width: 90%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: #fff;
    padding: 15px;
    font-size: 13px;
    /* border: 1px solid #0000002e; */
    box-shadow: 0 15px 25px #0000002e, -1px -1px 15px #f1efefff;
}
.PieChart .legend li {
    width: 90%;
    height: 1.25em;
    margin-bottom: 0.7em;
    padding-left: 0.5em;
    border-left: 1.25em solid black;
    display: flex;
    justify-content: space-between;
}
