.ApartmentsTab-transaction-container {
    display: flex;
    height: 100%;
}
.ApartmentsTab-transaction-options {
    height: 70vh;
    width: 20vw;
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
    background-color: #fff;
    box-shadow: 0 25px 35px #0000002e;
    display: flex;
    flex-direction: column;
    z-index: 100;
    margin-left: 20px;
}
.ApartmentsTab-transaction-option:first-child {
    margin-top: 3vh;
}
.ApartmentsTab-transaction-option {
    /* height: 300px;
    width: 200px; */
    margin-left: 10px;
    padding: 8px 14px 8px 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ApartmentsTab-transaction-option:last-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight: bold;
    color: #fff;
    background-color: #ff7b1d;
    background-image: linear-gradient(90deg, #ff920b 0, #f35c17 90%);
}
