.InputTab {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: last baseline;
    flex-wrap: wrap;
}
.InputTab-inputs {
    width: 100%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: auto;
    /* justify-content: center; */
}
.InputTab-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.InputTab-save-reset-buttons {
    display: flex;
    /* align-items: center; */
}
.InputTab .excel-upload {
    width: 150px;
}
